html,
body {
  margin: 0;
  padding: 0;
}

/**
* Front End Interview Questions: CSS Selectors
* 
* Q: What are some CSS selectors and how do they differ?
*/

.green {
  color: green;
}

#red {
  color: red;
}

#red:hover {
  color: blue;
}

/**
* Front End Interview Questions: Responsive Design
* 
* Q: What is responsive design and how might you implement it?
*
* Bonus Resource: https://scrimba.com/course/gresponsive
*/
